pin-depends: [
  ["cn.~dev" "git+https://github.com/rems-project/cn#8658e0c3cf6b7a20e2fbb2c239046cf5724e2f93"]
  ["soteria.~dev" "git+https://github.com/soteria-tools/soteria#b78e215684ba53e58bb845fc24826abd5e224e1b"]
  ["cerberus-lib.~dev" "git+https://github.com/rems-project/cerberus.git#e88d46c3ed65a198ee14aaebaad80e3a005cf3fb"]
  ["soteria-c.~dev" "git+https://github.com/soteria-tools/soteria#b78e215684ba53e58bb845fc24826abd5e224e1b"]
]