pin-depends: [
  ["cn.~dev" "../cn"]
  ["soteria.~dev" "git+https://github.com/soteria-tools/soteria#abf02bfe634d133dcd9630a61cde126107b80c07"]
  ["cerberus-lib.~dev" "git+https://github.com/rems-project/cerberus.git#e88d46c3ed65a198ee14aaebaad80e3a005cf3fb"]
  ["soteria-c.~dev" "git+https://github.com/soteria-tools/soteria#abf02bfe634d133dcd9630a61cde126107b80c07"]
]